/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 * Modified for lead-generation-calculator
 */


 /***Main sections***/
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.parallax-container .parallax img {
  transform: translate3d(-50%, 488.847px, 0px);
  opacity: 1;
} 

.icons {
  color: white;
  font-size: 50px;
  margin: 10px;
  text-align: center;
}

.account__table {
  margin: 0 auto;
  width: 80%;
}

.account__table tr {
  border-bottom: 1px solid #9e9e9e;
}

.edit__campaign__icon {
  text-align: right;
}

.edit__campaign__icon .material-icons {
  margin-left: 10px;
  margin-right: 10px;
}

.fa-database {
  color:white;
  font-size: 30px;
  margin: 0 auto;
}

.card.medium.category__management__card {
  height: 150px;
}

.category__management__title {
  font-size: 22px !important;
}

.create__category__button {
  margin-top: 20px;
}

/***Contact form***/

.container__signup__form {
  width: 30%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #logo-container {
    display: none;
  }  
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
