/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 * Modified for lead-generation-calculator
 */

/***Navigation***/
nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 2rem;
}
.sidenav-trigger {
  color: #26a69a;
}

/***Footer***/

footer.page-footer {
  margin: 0;
}

/***General***/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.btn-large {
  margin-bottom: 10px;
  margin-top: 20px;
}
.btn-small {
  margin-left: 10px;
  margin-right: 10px;
}
.para__margin__top {
  margin-bottom: 40px;
  margin-top: 30px;
}

/***Top image and header section***/

.parallax-container {
  color: rgba(255,255,255,.9);
  height: auto;
  line-height: 0;
  min-height: 380px;
}
.parallax-container .section {
  width: 100%;
}
.parallax-container .parallax img {
  opacity: 1;
  transform: translate3d(-50%, 488.847px, 0px);
} 
.icons {
  color: white;
  font-size: 50px;
  margin: 10px;
  text-align: center;
}

/***Account.html***/

.modal__content__delete__account {
  height: 400px;
}

.action__buttons__section {
  vertical-align: middle;
}
.account__update__warning {
  margin: 0 auto;
  margin-top: 20px;
  width: 50%;
}
.account__update__warning a {
  color:red !important;
}
.account__table {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
}
.account__table tr {
  border-bottom: 1px solid #9e9e9e;
}
.edit__campaign__icon {
  text-align: right;
}
.edit__campaign__icon .material-icons {
  margin-left: 10px;
  margin-right: 10px;
}
.fa-database {
  color:white;
  font-size: 30px;
  margin: 0 auto;
}

/***Admin.html***/

.card.medium.category__management__card {
  height: 150px;
}
.category__management__title {
  font-size: 20px !important;
  font-weight: 400 !important;
  text-transform: uppercase;
}
.create__category__button {
  margin-top: 20px;
}

/***Responsive styling***/

@media only screen and (max-width : 992px) {
  h1 {
    font-size: 160%;
  }
  h5 {
    font-size: 110%;
  }
  .section {
    padding-top: 0rem;
  }
  .parallax-container {
    min-height: 200px;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .index__page__container {
    min-height: 300px;
  }
  .btn-small {
    margin-bottom: 10px;
  }
  .category__management__title {
    font-size: 18px !important;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #logo-container {
    display: none;
  }  
  .btn-large {
    font-size: 12px;
  }
}