{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <h1 class="header center blue-grey-text text-lighten-4">
            Account Information
        </h1>
    </div>
    <!--flash messages-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row flashes">
                    <h5 class="blue-grey-text center-align">{{ message }}</h5>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}    
    <div class="container">
        <div class="row">
            <form class="col l10 offset-l1" method="POST" action="{{ url_for('account_update', account_id=account._id) }}">        
                <div class="row">
                    <div class="input-field col l6 s12">
                        <input value="{{ account.company_name }}" name="company_name" id="company_name" type="text" class="validate">
                        <label class="active" for="company_name">Company Name</label>
                    </div>
                    <div class="input-field col l3 s12">
                        <input value="{{ account.account_owner }} " name="account_owner" id="account_owner" type="text" class="validate">
                        <label class="active" for="account_owner">Account Owner</label>
                    </div>
                    <!--admin should not change the log in email address-->
                    {% if session.user|lower != "admin@admin.com"|lower %}
                        <div class="input-field col l3 s12">
                            <input value="{{ account.email_address }} " name="email_address" id="email_address" type="email" class="validate">
                            <label class="active" for="email_address">Email Address (used for log-in)</label>
                        </div>    
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col l6 s12">
                        <label for="company_country_name">Selected Country</label>
                        <input value="{{ account.company_country_name}}" type="text" readonly>                        
                    </div>                      
                    <div class="col l6 s12">
                        <span class="lighten-1 dropdown__span">
                            Update Country
                        </span>
                        <select id="company_country_name"  name="company_country_name" class="browser-default countries" type="text">
                            <option class="blue-grey-text" value="{{ account.company_country_name }}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l3 s12">
                        <input value="{{ account.currency }}" name="currency" id="currency" type="text" class="validate" readonly>
                        <label class="active" for="currency">Currency</label>
                    </div>
                    <div class="col l6">
                        <small class="vertical__align">
                            At present all currency is stated in Euros. Currency options will be added in the future.
                        </small>   
                    </div>
                </div>                   
                <div class="row">                                                                                                    
                    <div class="col l4 s12">
                        <label for="company_industry">Selected Industry</label>
                        <input value="{{ account.company_industry}}" type="text" readonly>                        
                    </div>                      
                    <div class="col l4 s12">
                        <span class="lighten-1 dropdown__span">
                            Update Industry
                        </span>
                        <select id="company_industry" name="company_industry" class="browser-default" type="text" >
                            <option class="blue-grey-text" value="{{ account.company_industry }}"></option>
                            {% for category in categories %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <small class="vertical__align">
                        If your industry is not displayed, please <a href="{{ url_for('contact_us') }}">get in touch.</a>
                    </small>   
                </div>                                                                                                              
                <div class="row center">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large waves-effect waves-light blue-grey lighten-1">                          
                            Save changes  
                        </button>
                        <a href="{{ url_for('get_account_profile') }}" id="download-button" class="btn-large waves-effect waves-light blue-grey lighten-1">
                            Cancel changes 
                        </a>                        
                    </div>            
                </form>   
            </div>
        </div>     
    </div>    
{% endblock %}