{% extends "base.html" %}
{% block content %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                {% for account in accounts %}
                    {% if session.user == account.email_address %}                
                    <h1 class="header center blue-grey-text text-lighten-4">
                        Welcome
                    </h1>
                    <h3 class="header center blue-grey-text text-lighten-4">
                        {{ account.account_owner }}
                    </h3>                
            </div>
        </div>
        <div class="parallax">
            <img src="{{ url_for('static', filename='assets/backgroundImage3.jpg') }}" alt="Data background image 3 sourced from Pixaby">
        </div>
    </div>
    <section>
        <!--update account warning-->
        {% if account.company_industry == "Update your industry" %}
            <div class="collection account__update__warning">
                <a href="{{ url_for('account_update', account_id=account._id) }}" class="collection-item">
                    <span class="new badge red" data-badge-caption="IMPORTANT!"></span>
                    Don't forget to update your account information
                </a>
            </div>
        {% endif %}
        <!--update campaign type warning-->
        {% for campaign in campaigns %}
            {% for calculation in calculations %}
                {% if campaign.campaign_type == "" %}
                    {% if calculation.campaign_name == campaign.campaign_name and session.user == campaign.owning_account %}
                        <div class="collection account__update__warning">
                            <a href="{{ url_for('edit_campaign', campaign_id=campaign._id, account_id=account._id, calculation_id=calculation._id) }}" class="collection-item">
                                <span class="new badge red" data-badge-caption="IMPORTANT!"></span>
                                Please update the campaign type for {{ campaign.campaign_name }}
                            </a>
                        </div>
                    {% endif %}
                {% endif %} 
            {% endfor %}    
        {% endfor %}
        <!--update communication platform warning-->
        {% for campaign in campaigns %}
            {% for calculation in calculations %}
                {% if campaign.communication_platform == "" %}
                    {% if calculation.campaign_name == campaign.campaign_name and session.user == campaign.owning_account %}
                        <div class="collection account__update__warning">
                            <a href="{{ url_for('edit_campaign', campaign_id=campaign._id, account_id=account._id, calculation_id=calculation._id) }}" class="collection-item">
                                <span class="new badge red" data-badge-caption="IMPORTANT!"></span>
                                Please update the communication platform for {{ campaign.campaign_name }}
                            </a>
                        </div>
                    {% endif %}
                {% endif %} 
            {% endfor %}    
        {% endfor %}        
        <!--flash messages-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h3 class="blue-grey-text lighten-4 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>    
    <div class="container">
        <div class="section">
            <!-- Account info table   -->
            <div class="row">          
                <div class="col s12 l6">
                    <div class="row">
                        <div class="icon-block">
                            <h2 class="center blue-grey-text">
                                <i class="material-icons">data_usage</i>
                            </h2>
                            <h5 class="center blue-grey-text">
                                {{ account.company_name }}'s Campaign Overview
                            </h5>
                        </div>
                    </div>
                    <div class="col l12 s12">
                        <div class="row">                      
                            <table class="account__table blue-grey-text">
                                <tr>
                                    <th>                                
                                        Total open campaigns
                                    </th>
                                    <td>
                                        {{ total_open_campaigns }}                                     
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Total Marketing Spend
                                    </th>
                                    <td>
                                        {% for i in total_marketing_spend %}
                                            {{ account.currency }} {{ i.marketing_spend }}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Total Marketing Leads
                                    </th>
                                    <td>
                                        {% for i in total_marketing_leads %}
                                            {{ i.marketing_leads }}
                                        {% endfor %}                                
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Total Sales Leads
                                    </th>
                                    <td>
                                        {% for i in total_sales_leads %}
                                            {{ i.sales_leads }}
                                        {% endfor %}                                    
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Total Converted Leads
                                    </th>
                                    <td>
                                        {% for i in total_converted_leads %}
                                            {{ i.converted_leads }}
                                        {% endfor %}                                    
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col s12 l6">
                    <div class="row">
                        <div class="icon-block">
                            <h2 class="center blue-grey-text">
                                <i class="material-icons">input</i>
                            </h2>
                            <h5 class="center blue-grey-text">
                                Actions
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col l6 s12">
                    <div class="row center">
                        <a href="{{ url_for('create_campaign', account_id=account._id) }}" id="download-button" class="btn-large waves-effect waves-light blue-grey lighten-1">
                            Create new campaign                              
                        </a>
                    </div>
                    <div class="row center">
                        <a href="{{ url_for('benchmark_data') }}" id="download-button" class="btn-large waves-effect waves-light blue-grey lighten-1">
                            Looking for comparative data? Click here                                 
                        </a>
                    </div>
                    <div class="row center">
                        <a href="{{ url_for('account_update', account_id=account._id) }}" id="download-button" class="btn-large waves-effect waves-light blue-grey lighten-1">Edit Account Info</a>   
                    </div>
                </div>                                
            </div>
        </div>
    </div>          
    <!--list of campaigns-->
    <div class="container">
        <div class="section">
            <ul class="collapsible">
                {% for campaign in campaigns | reverse %}
                    {% if session.user == campaign.owning_account %}                
                            <li>
                                <div class="collapsible-header">
                                    <i class="material-icons">expand_more</i>
                                        {{ campaign.campaign_name }}            
                                </div>
                                <div class="collapsible-body">                                   
                                    <div class="row">
                                        <div class="input-field col l6 s12">
                                            <label for="campaign_type">Campaign Type</label>
                                            <input value="{{ campaign.campaign_type }}" name="campaign_type" type="text" readonly>
                                        </div>  
                                        <div class="input-field col l6 s12">
                                            <label for="communication_platform">Communication Platform</label>
                                            <input value="{{ campaign.communication_platform }}" name="communication_platform" type="text">
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="input-field col l6 s12">
                                            <input value="{{ campaign.start_date }}" name="start_date" type="text" readonly>
                                            <label for="start_date">Start Date</label>
                                        </div> 
                                        <div class="input-field col l6 s12">
                                            <input value="{{ campaign.end_date }}" name="end_date" type="text" readonly>
                                            <label for="end_date">End Date</label>
                                        </div>  
                                    </div>  
                                    <div class="row">
                                        <h5 class="blue-grey-text header center">
                                            Lead Information
                                        </h5>
                                    </div>                                                                   
                                    <div class="row">
                                        <div class="input-field col l3 s12">
                                            <input value="{{ account.currency }} {{ campaign.total_campaign_cost }}" name="total_campaign_cost" type="text" readonly>
                                            <label for="total_campaign_cost">Total Campaign Cost</label>
                                        </div>                                                
                                        <div class="input-field col l3 s12">
                                            <input value="{{ campaign.marketing_qualified_leads }}" name="marketing_qualified_leads" type="number" readonly>
                                            <label for="marketing_qualified_leads">Marketing Qualified Leads</label>
                                        </div>    
                                        <div class="input-field col l3 s12">
                                            <input value="{{ campaign.sales_qualified_leads }}" name="sales_qualified_leads" type="number" readonly>
                                            <label for="sales_qualified_leads">Sales Qualified Leads</label>
                                        </div>
                                        <div class="input-field col l3 s12">
                                            <input value="{{ campaign.converted_leads }}" id="converted_leads" name="converted_leads" type="number" readonly>
                                            <label for="converted_leads">Converted Leads</label>
                                        </div>                                                              
                                    </div>
                                    <!--campaign calculation section-->
                                    {% for calculation in calculations %}
                                        {% if session.user == calculation.owning_account and campaign.campaign_name == calculation.campaign_name %}
                                            <form action="{{ url_for('calculate_results', calculation_id=calculation._id, campaign_id=campaign._id, account_id=account._id) }}" method="POST">
                                                <div class="row">
                                                    <h5 class="blue-grey-text header center">
                                                        Results
                                                    </h5>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col l3 s12">
                                                        <input value="{{ calculation.hit_rate }} %" name="hit_rate" type="text" readonly>
                                                        <label for="hit_rate">Hit rate (from marketing to sales lead)</label>
                                                    </div>                                                    
                                                    <div class="input-field col l3 s12">
                                                        <input value="{{ account.currency }} {{ calculation.cost_per_marketing_lead }}" name="cost_per_marketing_lead" type="text" readonly>
                                                        <label for="cost_per_marketing_lead">Cost per marketing lead</label>
                                                    </div>
                                                    <div class="input-field col l3 s12">
                                                        <input value="{{ account.currency }} {{ calculation.cost_per_sales_lead }}" name="cost_per_sales_lead" type="text" readonly>
                                                        <label for="cost_per_sales_lead">Cost per sales lead</label>
                                                    </div>  
                                                    <div class="input-field col l3 s12">
                                                        <input value="{{ account.currency }} {{ calculation.cost_per_converted_lead }}" name="cost_per_converted_lead" type="text" readonly>
                                                        <label for="cost_per_converted_lead">Cost per converted lead</label>
                                                    </div>                                                                                                                                                                                                        
                                                </div>
                                            </form>
                                    <!--campaign editing-->
                                            {% if session.user == campaign.owning_account %}
                                                <div class="row edit__campaign__icon">
                                                    <a href="{{ url_for('edit_campaign', campaign_id=campaign._id, account_id=account._id, calculation_id=calculation._id) }}">
                                                        <i class="material-icons blue-grey-text">
                                                            edit
                                                        </i>
                                                    </a>
                                                    <!-- Modal Trigger -->
                                                    <a class="modal-trigger" href="#modal1">
                                                        <i class="material-icons red-text">
                                                            delete_forever
                                                        </i>
                                                    </a>
                                                    <!-- Modal Structure -->
                                                    <div id="modal1" class="modal">
                                                        <div class="modal-content">
                                                            <h5 class="blue-grey-text lighten-4 center-align">
                                                                Are you sure you want to delete {{ campaign.campaign_name }}?   
                                                            </h5>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="{{ url_for('delete_campaign', campaign_id=campaign._id, calculation_id=calculation._id) }}" 
                                                            class="white-text modal-close blue-grey waves-effect waves-green btn-flat">
                                                                Yes, delete
                                                            </a>
                                                            <a href="{{ url_for('get_account_profile') }}" class="white-text modal-close blue-grey waves-effect waves-green btn-flat">
                                                                No, take me back
                                                            </a>                                                    
                                                        </div>
                                                    </div>                                      
                                                </div>
                                            {% endif %}
                                        {% endif %}                                        
                                    {% endfor %}
                                </div>
                            </li>
                    {% endif %}
                {% endfor %}                                            
            </ul>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="row">
            <div class="icon-block">
                <h2 class="center blue-grey-text">
                    <i class="material-icons">group</i>
                </h2>
                <h5 class="center blue-grey-text">
                    Account information
                </h5>
            </div>
        </div>
        <div class="container">
            <div class="section">
                <div class="row">                    
                    <div class="input-field col l4 s12">
                        <input value="{{ account.company_name }}" id="company_name" type="text" class="validate" readonly>
                        <label class="active" for="company_name">Company Name</label>
                    </div>
                    <div class="input-field col l4 s12">
                        <input value="{{ account.account_owner }}" id="account_owner" type="text" class="validate" readonly>
                        <label class="active" for="account_owner">Account Owner</label>
                    </div>  
                    <div class="input-field col l4 s12">
                        <input value="{{ account.email_address }}" id="email_address" type="text" class="validate" readonly>
                        <label class="active" for="email_address">Email address</label>
                    </div>                                                  
                    <div class="input-field col l4 s8">
                        <input value="{{ account.company_country_name }}" id="country" type="text" class="validate" readonly>
                        <label class="active" for="country">Country</label>
                    </div> 
                    <div class="input-field col l4 s4">
                        <input value="{{ account.currency }}" id="currency" type="text" class="validate" readonly>
                        <label class="active" for="currency">Currency</label>
                    </div>    
                    <div class="input-field col l4 s12">
                        <input value="{{ account.company_industry }}" id="industry" type="text" class="validate" readonly>
                        <label class="active" for="industry">Industry</label>
                    </div>                                                                                                                          
                </div> 
            </div>
        </div>        
            {% endif %}                            
        {% endfor %}   
    </div>     
{% endblock %}