{% extends "base.html" %}
{% block content %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                {% for account in accounts %}
                    {% if session.user == account.username %}                
                    <h1 class="header center blue-grey-text text-lighten-2">
                        Welcome
                    </h1>
                    <h1 class="header center blue-grey-text text-lighten-2">
                        {{ account.username }}
                    </h1>                
            </div>
        </div>
        <div class="parallax">
            <img src="{{ url_for('static', filename='assets/backgroundImage3.jpg') }}" alt="Data background image 3 sourced from Pixaby">
        </div>
    </div>
    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="row">
                        <div class="icon-block">
                            <h2 class="center blue-grey-text">
                                <i class="material-icons">group</i>
                            </h2>
                            <h5 class="center">
                                Account info table
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input value="{{ account.company_name }}" id="company_name" type="text" class="validate">
                            <label class="active" for="company_name">Company Name</label>
                          </div>
                          <div class="input-field col s6">
                            <input value="{{ account.first_name }} {{ account.last_name }} " id="owner_name" type="text" class="validate">
                            <label class="active" for="owner_name">Account Owner</label>
                          </div>  
                          <div class="input-field col s6">
                            <input value="{{ account.username }}" id="username" type="text" class="validate">
                            <label class="active" for="username">Username</label>
                          </div>                                 
                          <div class="input-field col s6">
                            <input value="{{ account.company_country_name }}" id="country" type="text" class="validate">
                            <label class="active" for="country">Country</label>
                          </div> 
                          <div class="input-field col s6">
                            <input value="{{ account.currency }}" id="currency" type="text" class="validate">
                            <label class="active" for="currency">Currency</label>
                          </div>  
                          <div class="input-field col s6">
                            <input value="{{ account.company_industry }}" id="industry" type="text" class="validate">
                            <label class="active" for="industry">Industry</label>
                          </div>                                                                                                      
                    </div>   
                </div>
                <div class="col s12 m4">
                    <div class="row">
                        <div class="icon-block">
                            <h2 class="center blue-grey-text">
                                <i class="material-icons">data_usage</i>
                            </h2>
                            <h5 class="center">
                                Campaign overview table
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <table class="account__table">
                            <tr>
                                <th>                                
                                    No of open campaigns
                                </th>
                                <td>
                                    10
                                    <i class="tiny material-icons">lock</i>                                        
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Total Marketing Spend
                                </th>
                                <td>
                                    £1,250
                                    <i class="tiny material-icons">lock</i>        
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Total Marketing Leads
                                </th>
                                <td>
                                    15
                                    <i class="tiny material-icons">lock</i>                                        
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Total Sales Leads
                                </th>
                                <td>
                                    6
                                    <i class="tiny material-icons">lock</i>                                        
                                </td>
                            </tr>  
                            <tr>
                                <th>
                                    Av. cost per MQL
                                </th>
                                <td>
                                    £10
                                    <i class="tiny material-icons">lock</i>                                        
                                </td>
                            </tr>   
                            <tr>
                                <th>
                                    Av. cost per SQL
                                </th>
                                <td>
                                    £36
                                    <i class="tiny material-icons">lock</i>                                        
                                </td>
                            </tr>                                                                                  
                            </table>
                    </div>                    
                </div>
                <div class="col s12 m4">
                    <div class="row">
                        <div class="icon-block">
                            <h2 class="center blue-grey-text">
                                <i class="material-icons">input</i>
                            </h2>
                            <h5 class="center">
                                Actions table
                            </h5>
                        </div>
                    </div>
                    <div class="row center">
                        <a href="{{ url_for('create_campaign') }}" id="download-button" class="btn-large waves-effect waves-light blue-grey lighten-1">
                            Create new campaign
                            <i class="tiny material-icons">edit</i>                                  
                        </a>
                    </div>
                    <div class="row">
                        <div class="col l12">
                            <h4>
                                Filter campaign view
                            </h4>
                        </div>
                        <div class="col">
                            <div class="chip">
                                New product
                                <i class="close material-icons">close</i>
                            </div>
                            <div class="chip">
                                Price promotion
                                <i class="close material-icons">close</i>
                            </div>
                            <div class="chip">
                                General
                                <i class="close material-icons">close</i>
                            </div>
                            <div class="chip">
                                Social media
                                <i class="close material-icons">close</i>
                            </div>                                                                                        
                        </div>
                    </div>
                    <div class="row center">
                        <a href="{{ url_for('benchmark_data') }}" id="download-button" class="btn-large waves-effect waves-light blue-grey lighten-1">
                            Looking for comparative data? Click here                                 
                        </a>
                    </div>                    
                </div>
            </div>
        </div>
    </div>          
    <div class="container">
        <div class="section">
            <ul class="collapsible">
                {% for campaign in campaigns %}
                    {% if session.user == campaign.owning_account %}                
                            <li>
                                <div class="collapsible-header">
                                    <i class="material-icons">expand_more</i>
                                        {{ campaign.campaign_name }}            
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="input-field col l6 s6">
                                            <input value ="{{ campaign.campaign_type }}" id="campaign_type" name="campaign_type" type="text" class="validate">
                                            <label class="active" for="campaign_type">Campaign Type</label>
                                        </div>  
                                        <div class="input-field col l6 s6">
                                            <input value="{{ campaign.communication_platform }}" name="communication_platform" type="text" class="validate">
                                            <label class="active" for="communication_platform">Communication Platform</label>
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="input-field col l6 s6">
                                            <input value="{{ campaign.start_date }}" name="start_date" type="date" class=" datepicker validate">
                                            <label class="active" for="start_date">Start Date</label>
                                        </div> 
                                        <div class="input-field col l6 s6">
                                            <input value="{{ campaign.end_date }}" name="end_date" type="date" class=" datepicker validate">
                                            <label class="active" for="end_date">End Date</label>
                                        </div>  
                                    </div>
                                    <div class="row">
                                        <div class="input-field col l3 s6">
                                                <input value="{{ campaign.marketing_qualified_leads }}" name="marketing_qualified_leads" type="number" class="validate">
                                                <label class="active" for="marketing_qualified_leads">Marketing Qualified Leads</label>
                                        </div>    
                                        <div class="input-field col l3 s6">
                                                <input value="{{ campaign.sales_qualified_leads }}" name="sales_qualified_leads" type="number" class="validate">
                                                <label class="active" for="sales_qualified_leads">Sales Qualified Leads</label>
                                        </div>             
                                        <div class="input-field col l3 s6">
                                                <input value="{{ account.currency }} {{ campaign.total_campaign_cost }}" name="total_campaign_cost" type="text" class="validate">
                                                <label class="active" for="total_campaign_cost">Total Campaign Cost</label>
                                        </div>        
                                    </div>
                                    <div class="row edit__campaign__icon">
                                        <i class="material-icons">edit</i>
                                        <i class="material-icons">delete_forever</i>                                 
                                    </div>                           
                                </div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}                            
                {% endfor %}                        
            </ul>
        </div>
    </div>
{% endblock %}