{% extends "base.html" %}
{% block content %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">             
                <h1 class="header center blue-grey-text text-lighten-2">
                    Category management                        
                </h1>
                <div class="row center">
                    <h5 class="header col s12 light">
                        Create, edit and delete categories
                    </h5>
                </div>                                  
            </div>
        </div>
        <div class="parallax">
            <img src="{{ url_for('static', filename='assets/backgroundImage9.jpg') }}" alt="Data background image 9 sourced from Pixaby">
        </div>
    </div>
    <!--Create new categories button-->
    <div class="row center">
        <button type="submit" class="btn-large waves-effect waves-light blue-grey lighten-1">
            <a class="nav-link white-text" href="{{ url_for('create_category') }}">
                Create new category
            </a>
        </button>
    </div>  
    <div class="section">
        <!--Campaign type categories-->
        <div class="row">
            <h3 class="header center blue-grey-text">
                Campaign type
            </h3>
            {% for category in categories %}
                {% if category.category_type|lower == "campaign type"|lower %}
                    <div class="col s4 m2">
                        <div class="card medium blue-grey center-align category__management__card">
                            <div class="card-content white-text">
                                <span class="card-title">{{ category.category_name }}</span>
                            </div>            
                            <div class="card-action">
                                <a href="{{ url_for ('edit_category', category_id=category._id) }}" class="btn-small blue-grey accent-4">Edit</a>
                                <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn-small blue-grey accent-4">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div> 
        <!--Communication platform categories-->
        <div class="row">
            <h3 class="header center blue-grey-text">
                Communication platform
            </h3>
            {% for category in categories %}
                {% if category.category_type|lower == "communication platform"|lower %}
                    <div class="col s4 m2">
                        <div class="card medium blue-grey center-align category__management__card">
                            <div class="card-content white-text">
                                <span class="card-title">{{ category.category_name }}</span>
                            </div>               
                            <div class="card-action">
                                <a href="{{ url_for ('edit_category', category_id=category._id) }}" class="btn-small blue-grey accent-4">Edit</a>
                                <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn-small blue-grey accent-4">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div> 
        <!--Account industry categories-->        
        <div class="row">
            <h3 class="header center blue-grey-text">
                Industries
            </h3>
            {% for category in categories %}
                {% if category.category_type|lower == "industry"|lower %}
                    <div class="col s4 m2">
                        <div class="card medium blue-grey center-align category__management__card">
                            <div class="card-content white-text">
                                <span class="card-title">{{ category.category_name }}</span>
                            </div>         
                            <div class="card-action">
                                <a href="{{ url_for ('edit_category', category_id=category._id) }}" class="btn-small blue-grey accent-4">Edit</a>
                                <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn-small blue-grey accent-4">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>             
    </div>   
{% endblock %}
