<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/314e917aa2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous" defer></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}" defer></script>  
    <script src="{{ url_for('static', filename='js/init.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>    
    {% block scripts %}
    {% endblock %}    
    <title>Lead Generator Calculator</title> 
  </head>
  <body>
    <!-- top navbar-->
    <nav class="blue-grey lighten-3" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{{ url_for('index') }}" class="brand-logo">
          <i class="fas fa-database"></i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a class="nav-link white-text" href="{{ url_for('index') }}">Home</a></li>
            <li><a class="nav-link white-text" href="{{ url_for('about') }}">About</a></li>
            <li><a class="nav-link white-text" href="{{ url_for('benchmark_data') }}">Benchmark Data</a></li>
          {% if session.user %}
            <li><a class="nav-link white-text" href="{{ url_for('log_out') }}">Log Out</a></li>
            {% else %}
            <li><a class="nav-link white-text" href="{{ url_for('log_in') }}">Log In</a></li>
            <li><a class="nav-link white-text" href="{{ url_for('sign_up') }}">Sign Up</a></li> 
          {% endif %}
        </ul>
        <!--mobile navbar-->
        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <!--main content-->
      {% block content %}
      {% endblock%}
      <section>
        <!--flash messages-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="red lighten-4 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <!--floating action button: contact-->
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large orange">
        <i class="large material-icons">mode_edit</i>
      </a>
      <ul>
        <li><a href="{{ url_for('benchmark_data') }}" title="Go to Benchmark data" class="btn-floating orange lighten-3"><i class="material-icons">insert_chart</i></a></li>        
        <li><a href="{{ url_for('log_in') }}" title="Log In to your account" class="btn-floating orange lighten-2"><i class="material-icons">account_circle</i></a></li>        
        <li><a class="btn-floating orange lighten-1" title="Get in touch"><i class="material-icons">mail</i></a></li>        
      </ul>
    </div>
    <!--footer-->
    <footer class="page-footer blue-grey">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Lead Generation Calculator</h5>
            <p class="grey-text text-lighten-4">
              Lead Generation Calculator has been developed to support those involved in strategic marketing make decisions smarter using real data.
              If you have any comments or suggestions, get in touch.
            </p>
          </div>
          <div class="col l6 sm12">
            <a class="icons" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>                
            <a class="icons" href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>         
            <a class="icons" href="https://www.linkedin.com/in/catherinetrevor/" target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="brown-text text-lighten-3" href="https://github.com/CatherineTrevor" target="_blank">Catherine Trevor</a>
        </div>
      </div>
    </footer>       
  </body>
</html>