{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h2 class="header center blue-grey-text text-lighten-2">
            Category management
        </h2>
    </div>
    <div class="container">
        <form class="col l6" method="POST" action="{{ url_for('create_category') }}">
            <div class="row">
                <div class="input-field col l6 s6">
                    <select id="category_type" name="category_type" class="validate" required>
                        <option class="blue-grey-text" value="" disabled selected></option>
                        {% for option in options %}
                            <option value="{{ option.category_type }}">{{ option.category_type }}</option>
                        {% endfor %}
                    </select>
                    <label id="category_type" class="blue-grey-text">Select category type</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l6 s6">
                    <input id="category_name" name="category_name" type="text" class="validate" required>
                    <label class="active" for="category_name">Category Name</label>
                </div>    
            </div>    
            <div class="row center">
                <button type="submit" class="btn-large waves-effect waves-light blue-grey lighten-1">
                    Save
                </button>
            </div>            
        </form>
    </div>
{% endblock %}
