{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h1 class="header center blue-grey-text text-lighten-4">
            Edit Category
        </h1>
    </div>
    <div class="container">
        <form class="col l6" method="POST" action="{{ url_for('edit_category', category_id=category._id) }}">
            <div class="row">
                <div class="input-field col s12 l6">
                    <input id="category_type" name="category_type" value="{{ category.category_type }}" type="text" readonly>
                    <label for="category_type">Category Type (read only)</label>                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l6 s6">
                    <input id="category_name" name="category_name" type="text" value="{{ category.category_name }}" class="validate">
                    <label for="category_name">Category Name</label>
                </div>    
            </div>    
            <div class="row center">
                <button type="submit" class="btn-large waves-effect waves-light blue-grey lighten-1">
                    Save
                </button>
                <a href="{{ url_for('admin') }}" id="download-button" class="btn-large waves-effect waves-light blue-grey lighten-1">
                    Cancel changes
                </a>                      
            </div>                      
        </form>    
    </div>
{% endblock %}