{% extends "base.html" %}
{% block content %}
<div class="row">
    <h1 class="header center blue-grey-text text-lighten-2">
        Log-In
    </h1>
    <div class="row center">
        <h5 class="header col s12 blue-grey-text">
            Log into your account to view, edit and delete campaigns
        </h5>
    </div>
</div>        
    <div class="container">
        <form method="POST" action="{{ url_for('log_in') }}">
            <div class="row">
                <div class="input-field col s12 l6 offset-l3 blue-grey-text">
                    <i class="material-icons prefix">mail</i>
                    <input id="email_address" name="email_address" type="email" class="validate" required>
                    <label for="email_address">
                        Email Address
                    </label>
                    <span class="helper-text" data-error="That doesn't look right, try again" data-success="That's great!">
                        Enter the email address used for sign up
                    </span>                      
                </div>
                <div class="input-field col s12 l6 offset-l3 blue-grey-text">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="password" name="password" type="password" class="validate" minlength="5" maxlength="15" required pattern="^[a-zA-Z0-9]{5,15}$">
                    <label for="password">
                        Password
                    </label>
                    <span class="helper-text" data-error="Incorrect password or email address" data-success="Let's go!">
                    </span>                    
                </div>
            </div>
            <div class="row center">
                <button type="submit" class="btn-large waves-effect waves-light blue-grey lighten-1">
                    Log in
                </button>
            </div>                        
        </form>
        <a href="{{ url_for('sign_up') }}">
            <p class="blue-grey-text center">
                Don't yet have an account? Click here to create one
            </p>
        </a>
        <a href="{{ url_for('contact_us') }}">
            <p class="blue-grey-text center">
                Forgotten your log in details? Get in touch and we'll help you get back in
            </p>
        </a>        
    </div>
{% endblock %}
