{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h1 class="header center blue-grey-text text-lighten-2">
            Log-In
        </h1>
        <div class="row center">
            <h5 class="header col s12 blue-grey-text">
                Log into your account to view, edit and delete campaigns
            </h5>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="flashes">
                <h5 class="blue-grey-text lighten-4 center-align">{{ message }}</h5>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}        
    <div class="container">
        <form method="POST" action="{{ url_for('log_in') }}">
            <div class="row">
                <div class="input-field col s12 l6 offset-l3 blue-grey-text">
                    <i class="material-icons prefix">mail</i>
                    <input id="email_address" name="email_address" type="email" class="validate" required>
                    <label for="email_address">
                        Email Address
                    </label>
                    <span class="helper-text" data-error="That doesn't look right, try again" data-success="That's great!">
                        Enter the email address used for sign up
                    </span>                      
                </div>
                <div class="input-field col s12 l6 offset-l3 blue-grey-text">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="password" name="password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="validate" minlength="8" required>
                    <label for="password">
                        Password
                    </label>
                    <span class="helper-text" data-error="Your password must match the specified requirements of at least one number, one uppercase, one lowercase letter, and at least 8 or more characters" data-success="Let's go!">
                        Must contain at least one number, one uppercase, one lowercase letter, and at least 8 or more characters.
                    </span> 
                </div>
            </div>
            <div class="row center">
                <button type="submit" class="btn-large waves-effect waves-light blue-grey lighten-1">
                    Log in
                </button>
            </div>                        
        </form>
        <a href="{{ url_for('sign_up') }}">
            <p class="blue-grey-text center">
                Don't yet have an account? Click here to create one
            </p>
        </a>
        <a href="{{ url_for('contact_us') }}">
            <p class="blue-grey-text center">
                Forgotten your log in details? Get in touch and we'll help you get back in
            </p>
        </a>        
    </div>
{% endblock %}
