{% extends "base.html" %}
{% block content %}
<div class="row">
    <h1 class="header center blue-grey-text text-lighten-2">
        Sign-up
    </h1>
    <div class="row center">
        <h5 class="header col s12 blue-grey-text">
            Create your free account and start monitoring your marketing campaigns
        </h5>
    </div>
</div>        
    <div class="container container__signup__form">
        <form class="col s6" method="POST" action="{{ url_for('sign_up') }}">
            <div class="row">
                <div class="input-field col s12 center-align blue-grey-text">
                    <i class="material-icons prefix">mail</i>
                    <input id="email_address" name="email_address" type="email" class="validate" required>
                    <label for="email_address">
                        Email Address
                    </label>
                    <span class="helper-text" data-error="That doesn't look right, try again" data-success="That's great!">
                        Sign-up using your email address
                    </span>                      
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 center-align blue-grey-text">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="password" name="password" type="password" class="validate" minlength="5" maxlength="15" required pattern="^[a-zA-Z0-9]{5,15}$">
                    <label for="password">
                        Password
                    </label>
                    <span class="helper-text" data-error="Your password must match the specified requirements" data-success="That's great!">
                        Password must be between 5 and 15 characters
                    </span>                    
                </div>
            </div>
            <div class="row center">
                <button type="submit" class="btn-large waves-effect waves-light blue-grey lighten-1">
                    Create Account
                </button>
            </div>           
        </form>
        <a href="{{ url_for('log_in') }}">
            <p class="blue-grey-text center">
                Already have an account? Click here to log in
            </p>
        </a>
    </div>
{% endblock %}
